@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

.logo {
  width: 200px;
}

.navItems ul {
  display: flex;
}

.navItems ul li {
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-weight: bolder;
  
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.topContainer {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.searchContainer {
  display: flex;
  gap: 10px;
}

.filterBtn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.resCard {
  width: 250px;
  min-height: 550px;
  border: none;
  background-color: rgb(240, 235, 235);
  padding: 10px;
  margin: 10px;
  border: 2px solid transparent;
  border-radius: 0.75em;
}

.resImg {
  width: 100%;
  height: 60%;
  align-items: center;
  border-radius: 0.75em;
}

.resCard p {
  font-size: 15px;
}

.resCard:hover {
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 0 35px rgb(89, 88, 88);
}

.resContainer {
  display: flex;
  flex-wrap: wrap;
}

.shimmerCards {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
}

.shimmerCard {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  background-color: rgb(240, 235, 235);
  padding: 10px;
  margin: 10px;
  border-radius: 0.75em;
}

.shimImg {
  background-color: darkgray;
  width: 100%;
  height: 60%;
  align-items: center;
  border-radius: 0.75em;
}

.shimD1 , .shimD2{
  background-color: darkgray;
  width: 100%;
  height: 10%;
  align-items: center;
  border-radius: 0.75em;
}


.logBtn{
  margin: 5px;
  width: 100px;
  font-weight: bolder;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.searchBtn{
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  width: 100px;
}


.menuList {
  list-style: decimal;
}


.ghPP{
  width: 200px;
  height: 200px;
}


